<div class="card">
  <div class="flex justify-content-center mb-3">
    <!-- <p-selectButton [options]="sizes" [(ngModel)]="selectedSize" [multiple]="false" optionLabel="name" optionValue="class"></p-selectButton>  -->
  </div>
  <div class="flex justify-content-center mb-3">
    {{ input_data }}
    <!-- <p-selectButton [options]="sizes" [(ngModel)]="selectedSize" [multiple]="false" optionLabel="name" optionValue="class"></p-selectButton>  -->
  </div>
  <p-table
    [value]="products"
    [tableStyle]="{ 'min-width': '50rem' }"
    [styleClass]="selectedSize.class"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quantity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.code }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.quantity }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
