<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Trọng Anh DEMO</a>

    <!-- show nếu chưa đăng nhập -->
    <ul *ifAuthenticated="false" class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"> Trang chủ </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">
          Sign in
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">
          Sign up
        </a>
      </li>
    </ul>

    <!-- show những thông tin khi đăng nhập thành công -->
    <ul *ifAuthenticated="true" class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Trang chủ
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/editor" routerLinkActive="active">
          <i class="ion-compose"></i>&nbsp;Bài viết mới
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/giadinh" routerLinkActive="active">
          <i class="ion-compose"></i>&nbsp;Cập nhật thông tin gia đình
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/settings" routerLinkActive="active">
          <i class="ion-gear-a"></i>&nbsp;Chỉnh sửa thông tin
        </a>
      </li>

      <!-- hiển thị thông tin user đăng nhập -->
      @if (currentUser$ | async; as currentUser) {
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/profile', currentUser.username]"
            routerLinkActive="active"
          >
            <img
              [src]="currentUser.image"
              *ngIf="currentUser.image"
              class="user-pic"
            />
            {{ currentUser.username }}
          </a>
        </li>
      }
    </ul>
  </div>
</nav>
